.login-form{
    background-color: #fff;
    padding: 40px 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.input-group{
    margin-bottom: 20px;
}
.input-group input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
}
.input-group input:focus{
    border-color: #74ebd5;
}
.login-btn{
    width: 100%;
    padding: 12px;
    background-color: #E9762B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-btn:hover{
    background-color: #E53888;
}